<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        @media (min-width: 48rem) {
            .container {
                max-width: 46rem;
            }
        }

        main {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <a href="/freebase/" class="navbar-brand">Freebase Browser</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% block navLinks %}
                    <li class="nav-item">
                        <a class="nav-link" href="/freebase/">Home</a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>
            The data are extracted from <a href="https://developers.google.com/freebase/">the latest Freebase dumps</a>.
            They are available under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">Creative
            Commons BY 2.5 licence</a>.
            See <a href="https://developers.google.com/freebase/">the dump page</a> for more about how attribution
            should be done.
        </p>
        <p>
            Code under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence</a> available on <a
                href="https://github.com/Tpt/freebase-browser">GitHub</a>.
            Please <a href="https://github.com/Tpt/freebase-browser/issues">report bugs there</a>.
            <a href="https://tools.wmflabs.org/admin/">
                <img src="https://tools-static.wmflabs.org/toolforge/banners/Powered-by-Toolforge.png" alt="Powered by Toolforge">
            </a>
        </p>
    </footer>
</div>
</body>
</html>
