{% macro to_link(desc) -%}
{% if desc.label %}
<a href="{{ desc.url }}" lang="{{ desc.label.language }}" dir="auto">{{ desc.label.value }}</a>
{% else %}
<a href="{{ desc.url }}">{{ desc.id }}</a>
{% endif %}
{%- endmacro %}


{% extends "base.html" %}
{% block navLinks %}
<li class="nav-item">
    <a class="nav-link" href="/freebase/">Home</a>
</li>
{% endblock %}
{% block head %}
<link rel="canonical" href="{{topic.canonical}}">
<link rel="license" href="http://creativecommons.org/licenses/by/2.5/">
<script type="application/ld+json">{{topic.jsonld|safe}}</script>

<title>Freebase - {% if topic.label %}{{ topic.label.value }}{% else %}{{ topic.id }}{% endif %}</title>
{% endblock %}
{% block main %}
<main role="main">
    <div>
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">
                    {% if topic.label %}
                    <span lang="{{ topic.label.language }}" dir="auto">{{ topic.label.value }}</span>
                    <small>({{ topic.id }})</small>
                    {% else %}
                    {{ topic.id }}
                    {% endif %}
                </h1>
                {% if topic.description %}
                <h5 class="card-subtitle text-muted" lang="{{ topic.description.language }}" dir="auto">{{
                    topic.description.value }}</h5>
                {% endif %}
            </div>
            <div class="card-body">
                {% if topic.notable_types %}
                <dl>
                    <dt>Notable types</dt>
                    <dd>
                        {%- for type in topic.notable_types %}
                        {{ to_link(type) }}
                        {%- endfor %}
                    </dd>
                </dl>
                {% endif %}
                {% if topic.schema %}
                <dl>
                    <dt>Schema</dt>
                    <dd>{{ to_link(topic.schema) }}</dd>
                </dl>
                {% endif %}
                {% if topic.expected_type %}
                <dl>
                    <dt>Expected type</dt>
                    <dd>{{ to_link(topic.expected_type) }}</dd>
                </dl>
                {% endif %}
                {% if topic.unique %}
                <dl>
                    <dt>Is unique</dt>
                    <dd>{{ topic.unique }}</dd>
                </dl>
                {% endif %}
                {% if topic.master %}
                <dl>
                    <dt>Master property</dt>
                    <dd>{{ to_link(topic.master) }}</dd>
                </dl>
                {% endif %}
                {% if topic.reverse %}
                <dl>
                    <dt>Reverse property</dt>
                    <dd>{{ to_link(topic.reverse) }}</dd>
                </dl>
                {% endif %}
                {% if topic.unit %}
                <dl>
                    <dt>Unit</dt>
                    <dd>{{ to_link(topic.unit) }}</dd>
                </dl>
                {% endif %}
                {% if topic.delegated %}
                <dl>
                    <dt>Delegated</dt>
                    <dd>{{ to_link(topic.delegated) }}</dd>
                </dl>
                {% endif %}
                {% if topic.other_types %}
                <dl>
                    <dt>Other types</dt>
                    <dd>
                        {%- for type in topic.other_types %}
                        {{ to_link(type) }}
                        {%- endfor %}
                    </dd>
                </dl>
                {% endif %}
                {% if topic.properties %}
                <dl>
                    <dt>Properties</dt>
                    <dd>
                        <ul>
                            {%- for p in topic.properties %}
                            <li>{{ to_link(p) }}</li>
                            {%- endfor %}
                        </ul>
                    </dd>
                </dl>
                {% endif %}
                {% if topic.fkeys %}
                <dl>
                    <dt>Keys</dt>
                    <dd>
                        <ul>
                            {%- for key in topic.fkeys %}
                            <li>{{ key }}</li>
                            {%- endfor %}
                        </ul>
                    </dd>
                </dl>
                {% endif %}
                <a href="https://web.archive.org/*/www.freebase.com{{ topic.id }}" class="card-link">Archive.org</a>
                {% if topic.google_url %}
                <a href="{{ topic.google_url }}" class="card-link">Google</a>
                {% endif %}
                {% if topic.wikidata_uri %}
                <a href="{{ topic.wikidata_uri }}" class="card-link">Wikidata</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}